<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Avatar and name -->
            <div class="flex flex-auto items-center min-w-0">
                <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                    <img
                        class="w-full h-full object-cover"
                        *ngIf="showAvatar && user.avatar"
                        [src]="user.avatar">
                    <mat-icon  
                        [inline]="true"                      
                        *ngIf="!showAvatar || !user.avatar"
                        [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
                </div>
                <div class="flex flex-col min-w-0 ml-4">
                    <ng-container>
                        <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">{{user.name}}</div>
                    </ng-container>
                    <div class="flex items-center">
                        <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                        <div class="ml-1.5 leading-6 truncate text-secondary">Director/a de club</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button
                class="fuse-mat-button-rounded"
                mat-flat-button
                [color]="'primary'">
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:cog'"></mat-icon>
                <span class="ml-2">Ajustes</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl"></div>

    </div>

</div>
