<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Clubes</div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar clubes'">
            </mat-form-field>
            <!-- Add club button -->
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="createClub()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Crear</span>
            </button>
            <button   
            class="ml-3"                         
            mat-flat-button
            [color]="'primary'"
            (click)="exportExcel()"                     
            >
            <mat-icon [svgIcon]="'heroicons_solid:save'"></mat-icon>
            <span class="ml-2 mr-1">Exportar</span>
        </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Clubs list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto" id="clubes-table">
            <ng-container *ngIf="(clubs$ | async) as clubs">
                <ng-container *ngIf="clubs.length > 0; else noClubs">
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort
                            matSortDisableClear>
                            
                            <div
                                class="hidden md:block"
                                [mat-sort-header]="'tipo'">
                                Tipo
                            </div>
                            <div [mat-sort-header]="'name'">Club</div>                            
                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'liderEstudiantil'">
                                Líder estudiantil
                            </div>
                            <div
                                class="hidden lg:block"
                                [mat-sort-header]="'fechaCreacion'">
                                Creación
                            </div>
                            <div
                                class="hidden lg:block"
                                [mat-sort-header]="'participantes'">
                                Participantes
                            </div>
                            <div class="hidden sm:block">Detalles</div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="(clubs$ | async) as clubs">
                            <ng-container *ngFor="let club of clubs; trackBy: trackByFn">
                                <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                    <!-- SKU -->
                                    <div class="hidden md:block truncate">
                                        {{club.tipo}}
                                    </div>

                                    <!-- Name -->
                                    <div class="truncate">
                                        {{club.name}}
                                    </div>

                                    <!-- Price -->
                                    <div class="hidden sm:block">
                                        {{club.liderEstudiantil}}
                                    </div>

                                    <!-- Stock -->
                                    <div class="hidden lg:block">
                                        <div class="min-w-4">{{club.fechaCreacion}}</div>
                                    </div>

                                    <!-- Active -->
                                    <div class="hidden lg:flex items-center">
                                        <div class="min-w-4">{{club.participantes}}</div>
                                        <!-- Low fechaCreacion -->
                                        <div
                                            class="flex items-end ml-2 w-1 h-4 bg-red-200 rounded overflow-hidden"
                                            *ngIf="club.participantes < 20">
                                            <div class="flex w-full h-1/3 bg-red-600"></div>
                                        </div>
                                        <!-- Medium fechaCreacion -->
                                        <div
                                            class="flex items-end ml-2 w-1 h-4 bg-orange-200 rounded overflow-hidden"
                                            *ngIf="club.participantes >= 20 && club.participantes < 30">
                                            <div class="flex w-full h-2/4 bg-orange-400"></div>
                                        </div>
                                        <!-- High fechaCreacion -->
                                        <div
                                            class="flex items-end ml-2 w-1 h-4 bg-green-100 rounded overflow-hidden"
                                            *ngIf="club.participantes >= 30">
                                            <div class="flex w-full h-full bg-green-400"></div>
                                        </div>
                                    </div>

                                    <!-- Details button -->
                                    <div>
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                            mat-stroked-button
                                            (click)="toggleDetails(club.id)">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="selectedClub?.id === club.id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="grid">
                                    <ng-container *ngIf="selectedClub?.id === club.id">
                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: club}"></ng-container>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <mat-paginator
                        class="absolute sm:absolute sm:inset-x-0 bottom-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        [length]="paginationClubs.length"
                        [pageIndex]="paginationClubs.page"
                        [pageSize]="paginationClubs.size"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true"></mat-paginator>

                </ng-container>
            </ng-container>

            <ng-template
                #rowDetailsTemplate
                let-club>
                <div class="shadow-lg overflow-hidden">
                    <div class="flex border-b">
                        <!-- Selected club form -->
                        <form
                            class="flex flex-col w-full"
                            [formGroup]="selectedClubForm">

                            <div class="flex flex-col sm:flex-row p-8">


                                <!-- Status and period -->
                                <div class="flex flex-col sm:items-start sm:mb-0">
                                    <div class="flex flex-col mb-9">
                                        <span class="font-semibold mb-2">Tipo</span>
                                        <mat-radio-group
                                            class="flex flex-col"
                                            [color]="'primary'"
                                            [value]="''">
                                            <mat-radio-button
                                                class="mb-2"
                                                [value]="'deportivo'">
                                                Deportivo
                                            </mat-radio-button>
                                            <mat-radio-button
                                                class="mb-2"
                                                [value]="'cultural'">
                                                Cultural
                                            </mat-radio-button>
                                            <mat-radio-button [value]="'social'">
                                                Social
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>

                                <div class="flex flex-auto flex-wrap">

                                    <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
<!--                                         <mat-form-field class="w-full">
                                            <mat-label>Programa</mat-label>
                                            <mat-select [formControlName]="'vendor1'">
                                                <ng-container *ngFor="let vendor1 of vendors1">
                                                    <mat-option [value]="vendor1.id">
                                                        {{vendor1.name}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field> -->
                                        <mat-form-field class="w-full">
                                            <mat-label>Plazo</mat-label>
                                            <mat-date-range-input [rangePicker]="picker">
                                                <input matStartDate placeholder="Fecha de inicio">
                                                <input matEndDate placeholder="Fecha de cierre">
                                                </mat-date-range-input>                                                
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-date-range-picker #picker></mat-date-range-picker>
                                        </mat-form-field>
                                        <mat-form-field class="w-full">
                                            <mat-label>Descripción</mat-label>
                                            <textarea
                                            matInput                                            
                                            matTextareaAutosize
                                            [matAutosizeMinRows]="5"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <!-- Name, SKU & etc. -->
                                    <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">

                                        <!-- Name and date-->
                                    <div class="flex">
                                        <mat-form-field class="w-full">
                                            <mat-label>Nombre del Club / Espacio Estudiantil</mat-label>
                                            <input
                                                matInput                                                
                                                [formControlName]="'name'">
                                        </mat-form-field>    
<!--                                         <mat-form-field class="w-1/3 pl-2">
                                            <mat-label>Periodo</mat-label>
                                            <mat-select>
                                                <ng-container *ngFor="let category of categories">
                                                    <mat-option [value]="category.id">
                                                        {{category.name}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field> -->
<!--                                         <mat-form-field class="w-1/3 pl-2">
                                            <mat-label>Dirección</mat-label>
                                            <mat-select>
                                                <ng-container *ngFor="let vendor of vendors">
                                                    <mat-option [value]="vendor.id">
                                                        {{vendor.name}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field> -->


                                    </div>

                                        <!-- Stock and Reserved -->                                        
                                        <div class="flex">
                                            <mat-form-field class="w-full">
                                                <mat-label>Facultad / Dirección / Departamento</mat-label>
                                                <mat-select [formControlName]="'facultadClub'">
                                                    <ng-container *ngFor="let facultadClub of facultadesClub">
                                                        <mat-option [value]="facultadClub.id">
                                                            {{facultadClub.name}}
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-select>
                                            </mat-form-field>
<!--                                             <mat-form-field class="w-1/3 pl-2">
                                                <mat-label>Departamento</mat-label>
                                                <mat-select>
                                                    <ng-container *ngFor="let vendor of vendors">
                                                        <mat-option [value]="vendor.id">
                                                            {{vendor.name}}
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-select>
                                            </mat-form-field> -->

                                        </div>  
                                        
                                        <!-- Category, Brand & Vendor -->
      <!--                                   <div class="flex">
                                            <mat-form-field class="w-full">
                                                <mat-label>Líder estudiantil</mat-label>
                                                <mat-select [formControlName]="'liderEstudiantil'">
                                                    <ng-container *ngFor="let liderEstudiantil of lideresEstudiantiles">
                                                        <mat-option [value]="liderEstudiantil.id">
                                                            {{liderEstudiantil.name}}
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>   -->
                                    </div>

                                    <!-- Weight & DocentesTutores -->
                                    <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                                        <mat-form-field class="w-full">
                                            <mat-label>Líder estudiantil</mat-label>
                                            <mat-select [formControlName]="'liderEstudiantil'">
                                                <ng-container *ngFor="let liderEstudiantil of lideresEstudiantiles">
                                                    <mat-option [value]="liderEstudiantil.id">
                                                        {{liderEstudiantil.name}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field class="w-full">
                                            <mat-label>Docente-Tutor</mat-label>
                                            <mat-select [formControlName]="'docentesTutores'">
                                                <ng-container *ngFor="let docenteTutor of docentesTutores">
                                                    <mat-option [value]="docenteTutor.id">
                                                        {{docenteTutor.title}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field>
                                        <!-- DocentesTutores -->
                                        <!-- <span class="mb-px font-medium leading-tight">Docentes-Tutores</span> -->
                                        <!-- <div class="mt-1.5 rounded-md border border-gray-300 dark:border-gray-500 shadow-sm overflow-hidden"> -->
                                            <!-- Header -->
                                            <!-- <div class="flex items-center -my-px py-2 px-3">
                                                <div class="flex items-center flex-auto min-w-0">
                                                    <mat-icon
                                                        class="icon-size-5"
                                                        [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                                    <input
                                                        class="min-w-0 ml-2 py-1 border-0"
                                                        type="text"
                                                        placeholder="Introduzca el nombre"
                                                        (input)="filterDocentesTutores($event)"
                                                        (keydown)="filterDocentesTutoresInputKeyDown($event)"
                                                        [maxLength]="50"
                                                        #newDocenteTutorInput>
                                                </div>
                                            </div> -->
                                            <!-- Available docentesTutores -->
                                            <!-- <div class="h-44 leading-none overflow-y-auto border-t border-gray-300 dark:border-gray-500"> -->
                                                <!-- DocentesTutores -->
                                                <!-- <ng-container *ngIf="!docentesTutoresEditMode"> -->
                                        <!--             <ng-container *ngFor="let docenteTutor of filteredDocentesTutores; trackBy: trackByFn">
                                                        <mat-checkbox
                                                            class="flex items-center h-10 min-h-10 px-4"
                                                            [color]="'primary'"
                                                            [checked]="selectedClub.docentesTutores.includes(docenteTutor.id)"
                                                            (change)="toggleClubDocenteTutor(docenteTutor, $event)">
                                                            {{docenteTutor.title}}
                                                        </mat-checkbox>
                                                    </ng-container> -->
                                                <!-- </ng-container> -->
                                            <!-- </div> -->
                                        <!-- </div> -->

                                    </div>
                                    <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">

                                        <!-- ParticipantesClubes -->
                                        <span class="mb-px font-medium leading-tight">Participantes</span>
                                        <div class="mt-1.5 rounded-md border border-gray-300 dark:border-gray-500 shadow-sm overflow-hidden">
                                            <!-- Header -->
                                            <div class="flex items-center -my-px py-2 px-3">
                                                <div class="flex items-center flex-auto min-w-0">
                                                    <mat-icon
                                                        class="icon-size-5"
                                                        [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                                    <input
                                                        class="min-w-0 ml-2 py-1 border-0"
                                                        type="text"
                                                        placeholder="Introduzca el nombre"
                                                        (input)="filterParticipantesClubes($event)"
                                                        (keydown)="filterParticipantesClubesInputKeyDown($event)"
                                                        [maxLength]="50"
                                                        #newParticipanteClubesInput>
                                                </div>
<!--                                                 <button
                                                    class="ml-3 w-8 h-8 min-h-8"
                                                    mat-icon-button
                                                    (click)="toggleParticipantesClubesEditMode()">
                                                    <mat-icon
                                                        *ngIf="!participantesClubesEditMode"
                                                        class="icon-size-5"
                                                        [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                                    <mat-icon
                                                        *ngIf="participantesClubesEditMode"
                                                        class="icon-size-5"
                                                        [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                                </button> -->
                                            </div>
                                            <!-- Available participantesClubes -->
                                            <div class="h-44 leading-none overflow-y-auto border-t border-gray-300 dark:border-gray-500">
                                                <!-- ParticipantesClubes -->
                                                <!-- <ng-container *ngIf="!participantesClubesEditMode"> -->
                                                    <ng-container *ngFor="let participanteClubes of filteredParticipantesClubes; trackBy: trackByFn">
                                                        <mat-checkbox
                                                            class="flex items-center h-10 min-h-10 px-4"
                                                            [color]="'primary'"
                                                            [checked]="selectedClub.participantesClubes.includes(participanteClubes.id)"
                                                            (change)="toggleClubParticipanteClubes(participanteClubes, $event)">
                                                            {{participanteClubes.title}}
                                                        </mat-checkbox>
                                                    </ng-container>
                                                <!-- </ng-container> -->
                                                <!-- ParticipantesClubes editing -->
<!--                                                 <ng-container *ngIf="participantesClubesEditMode">
                                                    <div class="p-4 space-y-2">
                                                        <ng-container *ngFor="let participanteClubes of filteredParticipantesClubes; trackBy: trackByFn">
                                                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                                                                <input
                                                                    matInput
                                                                    [value]="participanteClubes.title"
                                                                    (input)="updateParticipanteClubesTitle(participanteClubes, $event)">
                                                                <button
                                                                    mat-icon-button
                                                                    (click)="deleteParticipanteClubes(participanteClubes)"
                                                                    matSuffix>
                                                                    <mat-icon
                                                                        class="icon-size-5"
                                                                        [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                                                </button>
                                                            </mat-form-field>
                                                        </ng-container>
                                                    </div>
                                                </ng-container> -->
<!--                                                 <div
                                                    class="flex items-center h-10 min-h-10 -ml-0.5 pl-4 pr-3 leading-none cursor-pointer border-t hover:bg-gray-50 dark:hover:bg-hover"
                                                    *ngIf="shouldShowCreateParticipanteClubesButton(newParticipanteClubesInput.value)"
                                                    (click)="createParticipanteClubes(newParticipanteClubesInput.value); newParticipanteClubesInput.value = ''"
                                                    matRipple>
                                                    <mat-icon
                                                        class="mr-2 icon-size-5"
                                                        [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                                                    <div class="break-all">Crear "<b>{{newParticipanteClubesInput.value}}</b>"</div>
                                                </div> -->
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="flex items-center justify-between w-full border-t px-8 py-4">
                                <button
                                    class="-ml-4"
                                    mat-button
                                    [color]="'warn'"
                                    (click)="deleteSelectedClub()">
                                    Eliminar
                                </button>
                                <div class="flex items-center">
                                    <div
                                        class="flex items-center mr-4"
                                        *ngIf="flashMessage">
                                        <ng-container *ngIf="flashMessage === 'success'">
                                            <mat-icon
                                                class="text-green-500"
                                                [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                            <span class="ml-2">Club actualizado</span>
                                        </ng-container>
                                        <ng-container *ngIf="flashMessage === 'error'">
                                            <mat-icon
                                                class="text-red-500"
                                                [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                            <span class="ml-2">Ha ocurrido un error, inténtelo de nuevo.</span>
                                        </ng-container>
                                    </div>
                                    <button
                                        mat-flat-button
                                        [color]="'primary'"
                                        (click)="updateSelectedClub()">
                                        Actualizar
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </ng-template>

            <ng-template #noClubs>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">No hay clubes.</div>
            </ng-template>

        </div>

    </div>

</div>
